.row
  .col-lg-8
    .ibox.float-e-margins
      .ibox-title
        %h3
          Your Reported Understandings
      .ibox-content
        .row
          .posts.m-t-lg
            .no-posts.m-l-lg
              - if @understandings.any?
                %table.table.table-striped
                  %tr
                    %th Subject
                    %th Understanding
                  - @understandings.each do |understanding|
                    %tr
                      %td= understanding.subject.name
                      %td= understanding.level
              - else
                %h3
                  You haven't rated your understaning of any subjects yes.
                  = link_to "Lets go!", subjects_path

.row
  = link_to "Update Account", edit_user_path(@user), class: "btn btn-primary"
