%h2
  You've reported that your understanding of
  %span
    %strong.green
      = @subject.name
  is a
  %span
    %strong.green
      = @understanding.level

%h3= link_to "See what the class thought", subject_path(@subject)
